<template>
    <div class="mt-64"></div>
      <div class="mr-auto ml-auto ">
        <div>
          <svg class="mr-auto ml-auto " xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 100 100" width="100px" height="100px"><polygon fill="#ff8405" points="40.8,30 38,23 20,23 20,30 20,38 20,77 80,77 80,30"/><path fill="#4343bf" d="M83,80H17V20h23.031l2.8,7H83V80z M23,74h54V33H38.769l-2.8-7H23V74z"/><polygon fill="#3abcf8" points="87,84 23,84 23,74 77,74 77,33 87,33"/><rect width="33" height="4" x="39" y="39" fill="#edf7f5"/></svg>
      </div>
        <a class="font-bold text-2xl">No existing folders </a>
      </div>
</template>

<script>
export default {
  name: "NoExistingFiles"
}
</script>

<style scoped>

</style>