<template>
  <div class="m-8 flex flex-col">
    <div class="m-4 flex flex-row">
      <div class="flex flex-col">
        <div class="h-36 w-36 border-2">
          <img  :src="this.getAcc().imgUrl"  id="photo"  alt=""/>
        </div>
          <input type="file" ref="photo" @change="viewPhoto()" class="ml-auto mr-auto h-6 w-36 mt-2 border-2" />
      </div>
      <div class="w-full mt-auto mb-auto">
        <div class="ml-10  flex flex-col font-bold text-2xl">
          <div class="flex flex-col ">
            <a class="text-sm	">Name</a>
            <input ref="name"  class=" h-8  w-full mb-2 border-2" :placeholder="[[this.account.name]]"/>
          </div >
          <div class="flex flex-col ">
            <a class="text-sm	">Female</a>
            <input  ref="female" class=" h-8 w-full mb-2 border-2" :placeholder="[[this.account.female]]">
          </div>
          <div class="flex flex-col ">
            <a class="text-sm	">Nickname</a>
            <input ref="nickname"  class=" h-8 w-full  border-2" :placeholder="[[this.account.nickname]]">
          </div>
        </div>
      </div>
    </div>
      <div class="mt-6">
        <div class="border-2 h-36 w-full mt-auto mb-auto flex flex-col">
        <p class="mr-auto ml-auto font-bold ">Count of messages in topics</p>
        <table class="border-2 h-screen min-w-full">
          <thead class="border-b">
            <tr>
              <th class="text-sm font-medium text-gray-900 px-6 py-4 text-left">Inbox</th>
              <th class="text-sm font-medium text-gray-900 px-6 py-4 text-left">Sent</th>
              <th class="text-sm font-medium text-gray-900 px-6 py-4 text-left">Notes</th>
              <th class="text-sm font-medium text-gray-900 px-6 py-4 text-left">Basket</th>
              <th class="text-sm font-medium text-gray-900 px-6 py-4 text-left" >Spam</th>
            </tr>
          </thead>
          <tbody>
          <tr class="border-b">
            <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">{{this.client.mesCount[0]}}</td>
            <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">{{this.client.mesCount[1]}}</td>
            <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">{{this.client.mesCount[2]}}</td>
            <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">{{this.client.mesCount[3]}}</td>
            <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">{{this.client.mesCount[4]}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="w-full  mt-8">
      <div class="border-2 flex flex-row h-9">
        <div class="mr-auto ml-auto ">
          <a class="font-medium  w-full">last actions on this account were performed from an ip address:{{this.client.lastInetAddress}}</a>
        </div>
      </div>
    </div>
    <div class="w-full mt-12">
      <div class="border-2 flex flex-row h-16">
          <div class=" mr-auto ml-auto flex flex-col">
            <a  @click="saveChanges" class="cursor-pointer mt-auto mb-auto rounded px-5 py-1 overflow-hidden group bg-green-500 relative hover:bg-gradient-to-r hover:from-green-500 hover:to-green-400 text-white hover:ring-2 hover:ring-offset-2 hover:ring-green-400 transition-all ease-out duration-300">
              <span class="w-8 h-20 -mt-12 transition-all duration-1000 transform translate-x-12 bg-white opacity-10 rotate-12 group-hover:-translate-x-40 ease"></span>
              <span class="relative">Submit changes</span>
            </a>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import {data} from '@/api/interceptor'
import {server} from "@/api/server";
export default {
  name: "PersonComponent",
  props:['client'],
  data(){
    return{
      account:{
        name:'',
        female:'',
        nickname:''
      },
      photo:''
    }
  },
  methods:{
    getAcc(){
      return {
        id: localStorage.getItem("id"),
        female: localStorage.getItem("female"),
        name: localStorage.getItem("name"),
        email: localStorage.getItem("email"),
        imgUrl: localStorage.getItem("imgUrl"),
      };
    },
    detectMimeType(b64) {
      //console.log(b64);
      var signatures = {
        JVBERi0: "application/pdf",
        R0lGODdh: "image/gif",
        R0lGODlh: "image/gif",
        iVBORw0KGgo: "image/png",
        "/9j/": "image/jpg"
      };

      for (var s in signatures) {
        if (b64.indexOf(s) === 0) {
          return signatures[s];
        }
      }
    },
    viewPhoto(){
      console.log("hello");
      console.log(this.$refs.photo.files[0].name);
      var reader = new FileReader();
      reader.readAsDataURL( this.$refs.photo.files[0]);
      reader.onload = () =>{
        document.getElementById('photo').src = reader.result;
        data(server+"/mail/users/me/reset-img",{
          method:'post',
          data:reader.result
        });
        localStorage.setItem('imgUrl',reader.result);

        this.photo = reader.result;
        console.log(reader.result);
      };

    },
    saveChanges(){
      this.account.imgUrl = this.photo;
      data(server+"/mail/users/me",{
        method:'post',
        data: this.account
      });
    }
  }
}
</script>

<style scoped>

</style>