<template>
  <div class="flex flex-col">
    <div class="flex flex-col">
      <div class="text-center font-bold uppercase text-xl">
        <p>Add to blacklist:</p>
      </div>
      <div class="flex flex-row">
        <div class="relative z-0 mb-6 w-full group w-full">
          <input v-model="email" type="email" name="floating_email" id="floating_email" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " required />
          <label for="floating_email" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Email address</label>
        </div>
        <div class=' min-h-screen '>
          <div class="m-5">
            <button @click="blockUserEmail()" class="flex p-2.5 bg-yellow-500 rounded-xl hover:rounded-3xl hover:bg-yellow-600 transition-all duration-300 text-white">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z" />
              </svg>
            </button>
          </div>
        </div>
     </div>
    </div>
  </div>
</template>

<script>
import {server} from '@/api/server'
import {data} from '@/api/interceptor'
export default {
  name: "SettingsComponent",
  data(){
    return{
      email:''
    }
  },
  methods:{
    blockUserEmail() {
      data(server+"/mail/blacklist/block", {
        method:'post',
        data: ( this.email)
      }).then(response=>{console.log(response)});
      this.email = '';
    }
  }
}
</script>

<style scoped>

</style>