<template>
  <div>
    <div class="flex flex-row m-8 border-2 border-cyan-600 w-96 p-4">
      <div class="mr-12">

        <p class="text-xl font-bold w-44">{{this.printConditions(this.left,this.right)}}</p>
      </div>
      <div class="flex flex-row w-full">

        <button  @click="leftMove" class="mr-16 cursor-pointer" :disabled="this.currentPage === 1">
          <svg  xmlns="http://www.w3.org/2000/svg" width="11" height="20"><path fill-rule="evenodd" d="M10.634.292a1.063 1.063 0 0 0-1.464 0L.607 8.556a1.95 1.95 0 0 0 0 2.827l8.625 8.325c.4.385 1.048.39 1.454.01a.975.975 0 0 0 .01-1.425l-7.893-7.617a.975.975 0 0 1 0-1.414l7.83-7.557a.974.974 0 0 0 0-1.413"/></svg>
        </button>
        <button class="cursor-pointer" @click="rightMove" :disabled="disableCondition">
          <svg  xmlns="http://www.w3.org/2000/svg" width="11" height="20"><path fill-rule="evenodd" d="M.366 19.708c.405.39 1.06.39 1.464 0l8.563-8.264a1.95 1.95 0 0 0 0-2.827L1.768.292A1.063 1.063 0 0 0 .314.282a.976.976 0 0 0-.011 1.425l7.894 7.617a.975.975 0 0 1 0 1.414L.366 18.295a.974.974 0 0 0 0 1.413"/></svg>
        </button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "MyPagination",
  props:['count'],
  data(){
    return{
      right:5,
      left:1,
      maxItemsPerPage:5,
      currentPage:1,
      countOfMessages:localStorage.getItem(this.$route.name.charAt(0).toUpperCase()+this.$route.name.slice(1))
    }
  },
  methods:{
    printConditions(start,end){
      return start.toString() + ' - ' + end + ' from ' + this.countOfMessages;
    },
    disableCondition(){
      return (this.currentPage - 1) * this.maxItemsPerPage + 1 + this.maxItemsPerPage > this.countOfMessages;
    },
    leftMove(){
      this.currentPage --;
      this.printConditions((this.currentPage-1)*this.maxItemsPerPage + 1 ,this.countOfMessages);
      //    this.$emit('decPage',this.currentPage,this.maxItemsPerPage)
    },
    rightMove(){

      if( (this.currentPage-1)*this.maxItemsPerPage + 1 + this.maxItemsPerPage > this.countOfMessages ){
        this.left = (this.currentPage-1)*this.maxItemsPerPage + 1;
        this.right = this.countOfMessages;

      }
      else {
        this.printConditions((this.currentPage-1)*this.maxItemsPerPage + 1,(this.currentPage-1)*this.maxItemsPerPage + 1+this.maxItemsPerPage);
        this.left = (this.currentPage-1)*this.maxItemsPerPage + 1;
        this.right = (this.currentPage-1)*this.maxItemsPerPage + 1+this.maxItemsPerPage;
      }
      this.currentPage ++;
    }
  }
}
</script>

<style scoped>

</style>