<template>

  <div class="flex flex-col bg-amber-50">
    <SendMailExitBlock class="exit">

    </SendMailExitBlock>
    <SendMailMainBlock ></SendMailMainBlock>
  </div>
</template>

<script>
import SendMailMainBlock from '@/components/send/SendMailMainBlock'
import SendMailExitBlock from '@/components/send/SendMailExitBlock'
export default {
  name: "SendMailBlock",
  components:{
    SendMailExitBlock,
    SendMailMainBlock
  }
}
</script>

<style scoped>


.exit{
  position:relative;
  height:20px;
  margin: 20px;
  display: flex;
  flex-direction: row-reverse;
}

</style>