<template>
  <div class="flex flex-row p-3 bg-amber-100 rounded-lg m-2">

    <div class="inputs">
      <a class="text-xl m-1">Send Your Email</a>

      <div class="relative z-0">
        <input v-model="form.to" type="text" name="name" class="peer block w-full appearance-none border-0 border-b border-gray-500 bg-transparent py-2.5 px-0 text-sm text-gray-900 focus:border-blue-600 focus:outline-none focus:ring-0" placeholder=" " />
        <label class="absolute top-3 -z-10 origin-[0] -translate-y-6 scale-75 transform text-sm text-gray-500 duration-300 peer-placeholder-shown:translate-y-0 peer-placeholder-shown:scale-100 peer-focus:left-0 peer-focus:-translate-y-6 peer-focus:scale-75 peer-focus:text-blue-600 peer-focus:dark:text-blue-500">to</label>
      </div>
      <div class="relative z-0">
        <input v-model="form.cc" type="text" name="name" class="peer block w-full appearance-none border-0 border-b border-gray-500 bg-transparent py-2.5 px-0 text-sm text-gray-900 focus:border-blue-600 focus:outline-none focus:ring-0" placeholder=" " />
        <label class="absolute top-3 -z-10 origin-[0] -translate-y-6 scale-75 transform text-sm text-gray-500 duration-300 peer-placeholder-shown:translate-y-0 peer-placeholder-shown:scale-100 peer-focus:left-0 peer-focus:-translate-y-6 peer-focus:scale-75 peer-focus:text-blue-600 peer-focus:dark:text-blue-500">cc</label>
      </div>
      <div  class="relative z-0">
        <input v-model="form.bcc" type="text" name="name" class="peer block w-full appearance-none border-0 border-b border-gray-500 bg-transparent py-2.5 px-0 text-sm text-gray-900 focus:border-blue-600 focus:outline-none focus:ring-0" placeholder=" " />
        <label class="absolute top-3 -z-10 origin-[0] -translate-y-6 scale-75 transform text-sm text-gray-500 duration-300 peer-placeholder-shown:translate-y-0 peer-placeholder-shown:scale-100 peer-focus:left-0 peer-focus:-translate-y-6 peer-focus:scale-75 peer-focus:text-blue-600 peer-focus:dark:text-blue-500">bcc</label>
      </div>
      <div  class="relative z-0">
        <input v-model="form.subject" type="text" name="name" class="peer block w-full appearance-none border-0 border-b border-gray-500 bg-transparent py-2.5 px-0 text-sm text-gray-900 focus:border-blue-600 focus:outline-none focus:ring-0" placeholder=" " />
        <label class="absolute top-3 -z-10 origin-[0] -translate-y-6 scale-75 transform text-sm text-gray-500 duration-300 peer-placeholder-shown:translate-y-0 peer-placeholder-shown:scale-100 peer-focus:left-0 peer-focus:-translate-y-6 peer-focus:scale-75 peer-focus:text-blue-600 peer-focus:dark:text-blue-500">Set subject</label>
      </div>
    </div>


    <div class="flex flex-col">
      <textarea v-model="form.text" type="text" class="form-control
                block
                w-full
                px-3
                py-1.5
                text-base
                font-normal
                text-gray-700
                bg-white bg-clip-padding
                border border-solid border-gray-300
                rounded
                transition
                ease-in-out
                m-0
                focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none resize-none
        " rows="7">

      </textarea>
      <div class="mb-1 w-96">
        <input  class="form-control
        block
        w-full
        px-2
        py-1.5
        text-xl
        font-normal
        text-gray-700
        bg-white bg-clip-padding
        border border-solid border-gray-300
        rounded
        transition
        ease-in-out
        m-0
        focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"  @change="changeFiles()"  id="attachFiles" type="file" multiple>
      </div>
      <button @click="sendMessage()" class="m-2.5 text-white bg-[#005FF9] hover:bg-gradient-to-l focus:ring-4 focus:outline-none focus:ring-purple-200 dark:focus:ring-purple-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2 ">Send</button>
    </div>
  </div>
</template>

<script>

import store from "@/store/store";
import {data} from '@/api/interceptor'
import {server} from '@/api/server'

export default {
  name: "SendMailMainBlock",
  methods:{
    sendMessage(){
      store.state.sentHint=true;
      setTimeout(()=>{
        store.state.sentHint=false;
        console.log("there we go")
      },3000);
      store.state.sendWindowIsOpen = !store.state.sendWindowIsOpen;

      var formData = new FormData();
      var filesMy = document.getElementById('attachFiles').files;
      formData.append('to',this.form.to);
      formData.append('cc',this.form.cc);
      formData.append('bcc',this.form.bcc);
      formData.append('subject',this.form.subject);
      formData.append('bodyText',this.form.text);
      console.log(filesMy.length);
      for (var i = 0, j = filesMy.length; i < j; i++) {
        formData.append('files', filesMy[i]);
      }
      data(server+"/mail/send",
          {
            method:'post',
            data:formData
          }).then(response=>{
            console.log(response);
      }).catch(e=>{
        console.log(e);
      })
    },
    changeFiles(){
      this.form.files = this.$refs.file.files;
    }
  },
  data() {
    return {
      form: {
        to: '',
        cc: '',
        bcc: '',
        subject:'',
        text:''
      }
    }
  }
}
</script>

<style scoped>


.inputs{
  display: flex;
  flex-direction: column;
  padding:30px;
}



</style>