<template>
  <ErrorsLayout v-bind="errInfo"></ErrorsLayout>
</template>

<script>
import ErrorsLayout from '@/layouts/ErrorsLayout'
export default {
  name: "PageNotFound",
  components:{
    ErrorsLayout
  },
  data(){
    return{
      errInfo:{
        errStatus:404,
        errText:'oops! Page not found',
        errTextWider: 'Oops! The page you are looking for does not exist. It might have been moved or deleted.'
      }
    }
  }
}
</script>

<style scoped>

</style>