<template>

  <div class="body">
  <div id="app">
    <nav
        class="fixed top-0 inset-x-0 z-50 h-16 text-white bg-gray-800 font-medium flex justify-between items-center shadow-lg">
     <div class="flex justify-center items-center text-gray-600 sm:hidden">
      <div
          class="w-16 h-16 ">

        <button
            class="p-1 hover:text-white"  >

          <svg
              class="fill-current w-10 h-10" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
        </svg>
        </button>
      </div>
      </div>
      <div @click="goHome()" class="p-4 sm:w-64">
        <a  class="block w-10 h-10 mx-auto text-orange-500 hover:text-yellow-500">

          <svg class="cursor-pointer" width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 24C0 10.7452 10.7452 0 24 0C37.2548 0 48 10.7452 48 24C48 37.2548 37.2548 48 24 48C10.7452 48 0 37.2548 0 24Z" fill="#005FF9"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M10 23.9603C10 16.2625 16.2802 10 23.9998 10C31.7194 10 37.9997 16.2625 37.9997 23.9603C37.9997 25.0508 37.9087 25.9336 37.7048 26.8197L37.7018 26.8344C37.7013 26.837 37.6001 27.2455 37.5442 27.4237C37.1982 28.5272 36.5718 29.4463 35.7325 30.0815C34.9186 30.6977 33.9094 31.0371 32.891 31.0371C32.7652 31.0371 32.6385 31.032 32.5144 31.0221C31.0682 30.9063 29.7966 30.1474 29.0168 28.9373C27.6757 30.282 25.8964 31.0218 23.9998 31.0218C20.0951 31.0218 16.9184 27.854 16.9184 23.9603C16.9184 20.0666 20.0951 16.8989 23.9998 16.8989C27.9045 16.8989 31.0812 20.0666 31.0812 23.9603V26.2366C31.087 27.5648 31.9808 28.1077 32.7444 28.1691C33.5041 28.2276 34.5152 27.7863 34.8674 26.3461C35.0411 25.5562 35.1294 24.7533 35.1294 23.9603C35.1294 17.8407 30.1367 12.8621 23.9998 12.8621C17.8629 12.8621 12.8703 17.8407 12.8703 23.9603C12.8703 30.0798 17.8629 35.0585 23.9998 35.0585C26.136 35.0585 28.2136 34.4501 30.0079 33.2991L30.0401 33.2784L31.9261 35.465L31.8856 35.4926C29.5549 37.0811 26.828 37.9207 23.9998 37.9207C16.2802 37.9207 10 31.6581 10 23.9603ZM23.9998 28.1596C26.3218 28.1596 28.2109 26.2758 28.2109 23.9603C28.2109 21.6448 26.3218 19.7612 23.9998 19.7612C21.6777 19.7612 19.7887 21.6448 19.7887 23.9603C19.7887 26.2758 21.6777 28.1596 23.9998 28.1596Z" fill="#FF9E00"/>
          </svg>
        </a>
      </div>

      <div
          class="w-16 h-16 flex justify-center items-center text-gray-600 border-l border-gray-600">
        <button
            class="p-1 hover:text-white focus:text-white focus:outline-none"
            @click="openCloseMailForm()">
          <svg class="fill-current w-10 h-10" viewBox="0 0 24 24">
            <path d="M11.5,22C11.64,22 11.77,22 11.9,21.96C12.55,21.82 13.09,21.38 13.34,20.78C13.44,20.54 13.5,20.27 13.5,20H9.5A2,2 0 0,0 11.5,22M18,10.5C18,7.43 15.86,4.86 13,4.18V3.5A1.5,1.5 0 0,0 11.5,2A1.5,1.5 0 0,0 10,3.5V4.18C7.13,4.86 5,7.43 5,10.5V16L3,18V19H20V18L18,16M19.97,10H21.97C21.82,6.79 20.24,3.97 17.85,2.15L16.42,3.58C18.46,5 19.82,7.35 19.97,10M6.58,3.58L5.15,2.15C2.76,3.97 1.18,6.79 1,10H3C3.18,7.35 4.54,5 6.58,3.58Z"></path>
          </svg>
        </button>

      </div>
    </nav>

    <aside
        class="hidden pt-16 w-64 text-white bg-gray-700 fixed inset-y-0 overflow-x-hidden overflow-y-auto sm:block">
      <div
          class="p-4 min-h-full">
        <div
            class="px-6 pb-6 flex items-center border-b border-gray-100 sm:flex-col">
          <div
              class="hidden px-3 text-white text-base rounded-full border sm:block">{{name + ' '+ female  }}</div>
          <div
              @click="getMyPage()"
              class="cursor-pointer mr-auto text-white flex-shrink-0 flex justify-center items-center  border-4 sm:mt-4 sm:mx-auto">
              <img
                  v-if="imgUrl !==  '' "
                  :src="imgUrl"
                  alt="Base64 encoded image"
                  width="120"
                  height="120"
                  id="image"/>
            <svg class="rounded-full" v-else version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                         width="128px" height="128px" viewBox="0 0 128 128" style="enable-background:new 0 0 128 128;" xml:space="preserve">
               <g>
              <ellipse style="fill:#C2D5D8;" cx="64" cy="68" rx="64" ry="60"/>
              <g>
                <g>
                  <defs>
                <path id="SVGID_1_" d="M88,12.378V0H38v13.177C15.615,22.521,0,43.545,0,68c0,33.137,28.654,60,64,60s64-26.863,64-60
                  C128,42.822,111.45,21.281,88,12.378z"/>
              </defs>
              <clipPath id="SVGID_2_">
                <use xlink:href="#SVGID_1_"  style="overflow:visible;"/>
              </clipPath>
              <g style="clip-path:url(#SVGID_2_);">
                <rect x="50.938" y="101.563" style="fill:#CCCCCC;" width="27.438" height="22.625"/>
                <polygon style="fill:#F5F5F5;" points="76.01,94.424 63.953,93 51.896,94.424 46.438,97.875 56.344,111.875 64,104
                  71.563,111.875 81.469,97.875 				"/>
                <path style="fill:#E6CBC3;" d="M76.371,95.563h0.005l-3.423-10.646l-9-0.666l-9,0.666L51.53,95.563h0.005
                  c-0.051,0.146-0.082,0.295-0.082,0.443c0,2.206,5.597,3.993,12.5,3.993s12.5-1.787,12.5-3.993
                  C76.453,95.857,76.422,95.709,76.371,95.563z"/>
                <path style="fill:#D9BFB8;" d="M76.371,95.563h0.005l-3.423-10.646l-9-0.666l-1.75,0.129l7.25,0.537l3.423,10.646h-0.005
                  c0.051,0.146,0.082,0.295,0.082,0.443c0,2.016-4.678,3.677-10.75,3.95c0.573,0.025,1.154,0.043,1.75,0.043
                  c6.903,0,12.5-1.787,12.5-3.993C76.453,95.857,76.422,95.709,76.371,95.563z"/>
                <path style="fill:#FFE1D9;" d="M89.953,42L90,34c0-8.113-10-17-26.047-17C48,17,38,25.887,38,34l-0.047,8c0,0-4,0.295-4,3
                  v11.068c0,2.705,1,4.932,4,4.932c0,13.522,12.022,29,26,29c13.977,0,26-15.478,26-29c3,0,4-2.227,4-4.932V45
                  C93.953,42.295,89.953,42,89.953,42z"/>
                <path style="fill:#F2D6CE;" d="M63.953,17c-0.512,0-1.007,0.007-1.5,0.016c19.012,0.316,24.5,6.674,24.5,14.582V42v19
                  c0,13.035-11.175,27.883-24.5,28.936C62.951,89.975,63.45,90,63.953,90c13.977,0,26-15.478,26-29V42v-5
                  C89.953,28.887,84.183,17,63.953,17z"/>
                <g>
                  <polygon style="fill:#1A1A1A;" points="46.438,97.875 64,123 64,136 15.25,136.125 21.25,105.375 					"/>
                  <polygon style="fill:#242424;" points="51.943,94.674 39.297,101.813 48.797,104.25 44.213,113.125 64,133 64,123 					"/>
                </g>
                <g>
                  <polygon style="fill:#1A1A1A;" points="81.469,97.875 64,123 64,136 112.656,136.125 106.656,105.375 					"/>
                  <polygon style="fill:#242424;" points="76.01,94.424 88.656,101.563 79.156,104 83.74,112.875 64,133 64,123 					"/>
                </g>
                <path style="fill:#242424;" d="M90.627,40.162L89,39l-3.589,8.023c-0.757-0.892-2.163-1.596-3.723-1.741
                  c-4.471-0.421-6.833-0.564-11.305-0.699c-2.305-0.069-4.385,1.427-4.385,3.259c0,0.66,0,1.217,0,1.739h-4
                  c0-0.522,0-1.079,0-1.739c0-1.832-2.127-3.328-4.432-3.259c-4.472,0.135-6.812,0.278-11.28,0.699
                  c-1.628,0.153-3.079,0.913-3.801,1.86L38.813,39l-1.627,1.162l4.813,9.738c0,0.938,0,1.738,0,2.94
                  c0,1.47,1.859,2.894,4.165,3.11c4.47,0.42,6.944,0.564,11.415,0.699c2.305,0.068,4.42-1.428,4.42-3.26c0-0.689,0-1.269,0-1.812
                  h4c0,0.543,0,1.121,0,1.812c0,1.832,2.092,3.328,4.396,3.26c4.472-0.135,6.923-0.279,11.393-0.699
                  c2.307-0.217,4.212-1.643,4.212-3.11c0-1.313,0-2.143,0-3.202L90.627,40.162z"/>
                <path style="fill:#242424;" d="M90,34c0-8.813-5.438-34-12-34S66.442,6,64,6s-7.438-6-14-6S38,25.188,38,34
                  c-1.109,0-3.583,2.583-6,5c4.917,4.917,27.131,5,32,5s27.083-0.083,32-5C93.583,36.583,91.109,34,90,34z"/>
                <path style="fill:#F5F5F5;" d="M64,28c-3.579,0-16.525-0.048-25.09-2.023c-0.563,2.935-0.883,5.66-0.905,7.778
                  C46.531,35.949,60.292,36,64,36s17.469-0.051,25.995-2.245c-0.022-2.118-0.343-4.845-0.905-7.778C80.525,27.952,67.579,28,64,28
                  z"/>
              </g>
            </g>
          </g>
        </g>
            </svg>

         </div>
          <div
              class="ml-4 flex-1 flex flex-col sm:mt-4 sm:ml-0 sm:items-center">
            <div
                class="text-white text-2xl sm:hidden"></div>
            <div
                class="text-yellow-500 text-xl sm:text-sm">{{email }}</div>
            <div
                class="w-full flex flex-row">
              <div
                  class=" my-2 border mx-auto border-[2px] w-10/12 justify-center flex flex-row-reverse items-center rounded-md shadow-md">
                <div>
                  <button
                      type=" submit"
                          class="flex items-center bg-gray-100 rounded-l-md border border-white justify-center w-8 h-8 text-white "
                          :class="(true) ? 'bg-purple-500' : 'bg-gray-500 cursor-not-allowed'"
                         >
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-gray-900" fill="none"
                         viewBox="0 0 24 24" stroke="currentColor">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M17 9V7a2 2 0 00-2-2H5a2 2 0 00-2 2v6a2 2 0 002 2h2m2 4h10a2 2 0 002-2v-6a2 2 0 00-2-2H9a2 2 0 00-2 2v6a2 2 0 002 2zm7-5a2 2 0 11-4 0 2 2 0 014 0z" />
                    </svg>
                  </button>
                </div>

                <div
                    class="  w-full">
                  <input
                      type="search"
                      x-model="input3"
                         class="w-full h-8 px-4 py-1 rounded-r-md border border-gray-100 text-gray-800 focus:outline-none"
                         placeholder="Search..." >
                </div>
              </div>
            </div>
          </div>

        </div>

        <div class="mt-4 ">
          <a
              v-for="i of topics"
              :key="i"

              class=" m-3 px-10 py-2 flex items-center text-xl text-gray-100  sm:px-4 sm:text-base" >
            <svg class="w-6 h-6 stroke-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 72 71">
              <path d="M28.559 5.848c2.665-6.75 12.217-6.75 14.882 0l.691 1.751a8 8 0 009.784 4.712l1.8-.551c6.938-2.125 12.895 5.343 9.279 11.635l-.938 1.632a8 8 0 002.416 10.587l1.553 1.063c5.988 4.1 3.862 13.413-3.311 14.51l-1.86.284a8 8 0 00-6.771 8.49l.136 1.877c.528 7.238-8.079 11.382-13.408 6.457l-1.382-1.277a8 8 0 00-10.86 0l-1.382 1.277c-5.33 4.925-13.936.78-13.408-6.457l.136-1.877a8 8 0 00-6.77-8.49l-1.86-.285c-7.174-1.096-9.3-10.409-3.312-14.509l1.553-1.063a8 8 0 002.416-10.587l-.938-1.632c-3.616-6.292 2.34-13.76 9.28-11.635l1.799.55a8 8 0 009.784-4.71l.69-1.752z" fill="none" /></svg>
            <div
                class="ml-6 sm:ml-4 w-full">
                   <div  class="flex flex-row ">
                      <div
                          @click="goTopic(i)"
                          class="mr-auto cursor-pointer hover:text-orange-500 transform transition duration-500	hover:opacity-70 transition duration-300 ease-in-out hover:bg-black hover:rounded-full">
                        {{ i }}
                      </div>
                      <div v-if="i !=='Settings'&&i!== 'Blacklist' && this.messageCount[i]!=='0' "  class=" ml-auto">
                        <div class="rounded-full bg-gray-400  min-w-[25px] text-center">{{ this.messageCount[i] }}</div>

                      </div>
                  </div>
            </div>

          </a>
          <a
              @click="logout"
              class="cursor-pointer m-3 mt-8 px-10 py-2 flex items-center text-xl text-gray-100 hover:text-orange-500 sm:px-4 sm:text-base">
            <svg class="w-6 h-6 stroke-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 72 71">
              <path d="M28.559 5.848c2.665-6.75 12.217-6.75 14.882 0l.691 1.751a8 8 0 009.784 4.712l1.8-.551c6.938-2.125 12.895 5.343 9.279 11.635l-.938 1.632a8 8 0 002.416 10.587l1.553 1.063c5.988 4.1 3.862 13.413-3.311 14.51l-1.86.284a8 8 0 00-6.771 8.49l.136 1.877c.528 7.238-8.079 11.382-13.408 6.457l-1.382-1.277a8 8 0 00-10.86 0l-1.382 1.277c-5.33 4.925-13.936.78-13.408-6.457l.136-1.877a8 8 0 00-6.77-8.49l-1.86-.285c-7.174-1.096-9.3-10.409-3.312-14.509l1.553-1.063a8 8 0 002.416-10.587l-.938-1.632c-3.616-6.292 2.34-13.76 9.28-11.635l1.799.55a8 8 0 009.784-4.71l.69-1.752z" fill="none" /></svg>
            <div class="ml-6 flex-1 sm:ml-4">Logout</div>
          </a>
        </div>
      </div>
    </aside>



    <main
        class="pt-16 sm:pl-64 h-screen 		">
      <div
          class="p-8 flex flex-col">
        <div
            class="flex flex-row border-b-amber-800 border-b-4">
          <h1
              class="mr-auto font-bold uppercase text-2xl relative">{{ this.$router.currentRoute.value.name }}</h1>
          <div
              class="flex flex-row ml-auto">
            <slot
                name="pagination"></slot>
            <slot
                name="filter"></slot>
          </div>
        </div>
          <slot
              name="msg"></slot>
      </div>
    </main>


  </div>


    <MyModal
        v-show="windowIsOpen()"
        @close="openCloseMailForm()"
    >
      <template
          v-slot:el>
        <SendMailBlock>
       </SendMailBlock>
      </template>

    </MyModal>

  <div
      v-show="hintIsVisible()"
      class="absolute m-auto right-0 bottom-0">
    <div
        class="flex p-2  mb-4 mr-4 text-sm text-green-700 bg-green-100 rounded-lg dark:bg-green-200 dark:text-green-800" role="alert">
      <svg  class="inline flex-shrink-0 mr-3 w-5 h-5" fill="currentColor" viewBox="0 0 15 15" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd"></path></svg>
      <div>
        <span
            class="font-medium">Successfully sent!
        </span> More info see on your profile
      </div>
    </div>
  </div>
  </div>
</template>

<script>
import MyModal from '@/components/MyModal'
import SendMailBlock from '@/components/send/SendMailBlock'
import store from '@/store/store'
import {mapActions,mapMutations} from "vuex";
import {server} from "@/api/server";
import {data} from "@/api/interceptor";

export default {
  name: "MainLayout",
  components:{
    MyModal,
    SendMailBlock
  },
  data() {
    return {
      window: {
        dropdown: false,
        isOpen: true,
      },
      topics:['Inbox','Sent','Notes','Basket','Blacklist','Spam','Settings'],
      messageCount:{
        'Inbox':localStorage.getItem('Inbox'),
        'Sent':localStorage.getItem('Sent'),
        'Notes':localStorage.getItem('Notes'),
        'Basket':localStorage.getItem('Basket'),
        'Spam':localStorage.getItem('Spam')
      }
    }
  },
  created(){
    this.messageCountFetchingPerTime();
  },
  computed:{
    ...mapMutations({
      setAccountData:'setAccountData'
    }),
      id(){return localStorage.getItem("id")},
      female(){ return localStorage.getItem("female")},
      name(){return localStorage.getItem("name")},
      email(){return localStorage.getItem("email")},
      imgUrl(){return localStorage.getItem("imgUrl")},
  },
  methods: {
    messageCountFetchingPerTime(){
      return setInterval(() => {
        data.get(server + "/mail/messages/count", {})
            .then(response => {
              console.log(response);
              localStorage.setItem('Inbox',response.data[0]);
              localStorage.setItem('Sent', response.data[1]);
              localStorage.setItem('Basket',response.data[2]);
              localStorage.setItem('Basket',response.data[3]);
              localStorage.setItem('Spam', response.data[4]);
              this.messageCount['Inbox'] = localStorage.getItem('Inbox');
              this.messageCount['Sent'] = localStorage.getItem('Sent');
              this.messageCount['Notes'] =  localStorage.getItem('Notes');
              this.messageCount['Basket'] = localStorage.getItem('Basket');
              this.messageCount['Spam'] =  localStorage.getItem('Spam');
            })
      }, 10000);
    },
    ...mapActions({
      fetchAccountData:'fetchAccountData'
    }),
    goHome(){
      console.log("goHome");

      this.$router.push({name:'home'});
    },
    windowIsOpen() {
      return store.state.sendWindowIsOpen;
    },
    hintIsVisible() {
      return store.state.sentHint;
    },
    openCloseMailForm(){
      console.log("clicked");

      store.state.sendWindowIsOpen = !store.state.sendWindowIsOpen
      console.log(store.state.sendWindowIsOpen);//  =  !this.$store.loginWindowIsOpen;
    },
    getMyPage(){
      this.$router.push({name:`me`})
    },
    logout(){
      store.state.account = {
        name: '',
        female: '',
        email: ''
      };
      data.get(server+"/mail/logout",{

      }).then(r=> {
            console.log(r);
            localStorage.clear();
          }
      );

      this.$router.push({name:'login'});
    },
    goTopic(i){
      console.log("goTopic");
      console.log(i.toLowerCase());
      this.$router.push({name:i.toLowerCase()});
    }
  }
}
</script>

<style scoped>



</style>