<template>
  <MainLayout>

    <template
        v-slot:msg>
      <NoExistingFiles
          v-if="this.status === 'EMPTY'" >
      </NoExistingFiles>

      <div
          v-else-if="this.status=== 'LOADING'"
          class="mt-96">
        <MyLoader/>
      </div>
      <BlacklistComponent @makeEmpty = "makeEmpty" :emails = "this.emails" v-else ></BlacklistComponent>

    </template>

  </MainLayout>
</template>

<script>
import NoExistingFiles from '@/components/infobar/NoExistingFiles';
import MyLoader from '@/components/MyLoader'
import MainLayout from "@/layouts/MainLayout";
import BlacklistComponent from "@/components/infobar/BlacklistComponent";
import store from "@/store/store";
import {DataGetType} from "@/types/DataGetType";
import {server} from "@/api/server";
import axios from "axios";
import {data} from '@/api/interceptor';
export default {
  name: "BlacklistPage",
  components: {BlacklistComponent, MainLayout,MyLoader,NoExistingFiles},
  data(){
    return {
      emails: [],
      status:DataGetType.LOADING,
      cancelSource: null,
    }
  },
  beforeRouteLeave(to,from,next){
    store.state.loadingStatus = DataGetType.LOADING;
    this.emails = [];
    next();
  },
  beforeRouteEnter(to,from,next){
    next(vm=>{
      console.log("showList");
      vm.cancelSearch();
      vm.cancelSource = axios.CancelToken.source();
      data.get(server+"/mail/blacklist/all", {
        cancelToken: vm.cancelSource.token
      })
          .then(r=>{
              if(r) {
                  console.log(r);
                  if (r.data.length === 0)
                    vm.status = DataGetType.EMPTY;
                  else {
                    vm.emails = r.data;
                    vm.status = DataGetType.READY;
                  }
                vm.cancelSource = null;
              }
          });
    })
  },
  methods:{
    cancelSearch () {
      if (this.cancelSource) {
        this.cancelSource.cancel('Start new search, stop active search');
        console.log('cancel request done');
      }
    },
    makeEmpty(){
      this.status = DataGetType.EMPTY;
    }
  }
}
</script>

<style scoped>

</style>