<template>
  <div class = "bg-gradient-to-r from-cyan-500 to-blue-500 ... h-screen w-full py-16 px-4">
    <div class="flex flex-col items-center justify-center">

    <div class="bg-white shadow rounded lg:w-1/3  md:w-1/2 w-full p-10 mt-16">
      <p tabindex="0" class="focus:outline-none text-2xl font-extrabold leading-6 text-gray-800">Login to your account</p>
      <p tabindex="0" class="focus:outline-none text-sm mt-4 font-medium leading-none text-gray-500">Dont have account? <a href="/register"   class="hover:text-gray-500 focus:text-gray-500 focus:outline-none focus:underline hover:underline text-sm font-medium leading-none  text-gray-800 cursor-pointer"> Sign up here</a></p>

      <button @click="gmailAuth()" aria-label="Continue with google" role="button" class="focus:outline-none focus:ring-2 focus:ring-offset-1 focus:ring-gray-700 py-3.5 px-4 border rounded-lg border-gray-700 flex items-center w-full mt-10">
        <img src="https://tuk-cdn.s3.amazonaws.com/can-uploader/sign_in-svg2.svg" alt="google">
        <p class="text-base font-medium ml-4 text-gray-700">Continue with Gmail</p>
      </button>
      <button aria-label="Continue with github" role="button" class="focus:outline-none  focus:ring-2 focus:ring-offset-1 focus:ring-gray-700 py-3.5 px-4 border rounded-lg border-gray-700 flex items-center w-full mt-4">
        <svg width="22" height="22" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M0 24C0 10.7452 10.7452 0 24 0C37.2548 0 48 10.7452 48 24C48 37.2548 37.2548 48 24 48C10.7452 48 0 37.2548 0 24Z" fill="#005FF9"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M10 23.9603C10 16.2625 16.2802 10 23.9998 10C31.7194 10 37.9997 16.2625 37.9997 23.9603C37.9997 25.0508 37.9087 25.9336 37.7048 26.8197L37.7018 26.8344C37.7013 26.837 37.6001 27.2455 37.5442 27.4237C37.1982 28.5272 36.5718 29.4463 35.7325 30.0815C34.9186 30.6977 33.9094 31.0371 32.891 31.0371C32.7652 31.0371 32.6385 31.032 32.5144 31.0221C31.0682 30.9063 29.7966 30.1474 29.0168 28.9373C27.6757 30.282 25.8964 31.0218 23.9998 31.0218C20.0951 31.0218 16.9184 27.854 16.9184 23.9603C16.9184 20.0666 20.0951 16.8989 23.9998 16.8989C27.9045 16.8989 31.0812 20.0666 31.0812 23.9603V26.2366C31.087 27.5648 31.9808 28.1077 32.7444 28.1691C33.5041 28.2276 34.5152 27.7863 34.8674 26.3461C35.0411 25.5562 35.1294 24.7533 35.1294 23.9603C35.1294 17.8407 30.1367 12.8621 23.9998 12.8621C17.8629 12.8621 12.8703 17.8407 12.8703 23.9603C12.8703 30.0798 17.8629 35.0585 23.9998 35.0585C26.136 35.0585 28.2136 34.4501 30.0079 33.2991L30.0401 33.2784L31.9261 35.465L31.8856 35.4926C29.5549 37.0811 26.828 37.9207 23.9998 37.9207C16.2802 37.9207 10 31.6581 10 23.9603ZM23.9998 28.1596C26.3218 28.1596 28.2109 26.2758 28.2109 23.9603C28.2109 21.6448 26.3218 19.7612 23.9998 19.7612C21.6777 19.7612 19.7887 21.6448 19.7887 23.9603C19.7887 26.2758 21.6777 28.1596 23.9998 28.1596Z" fill="#FF9E00"/>
        </svg>

        <p class="text-base font-medium ml-4 text-gray-700">Continue with MailRu</p>
      </button>

      <div class="w-full flex items-center justify-between py-5">
        <hr class="w-full bg-gray-400">
        <p class="text-base font-medium leading-4 px-2.5 text-gray-400">  <MyLoader v-if="this.loginStatus" /></p>
        <hr class="w-full bg-gray-400  ">
      </div>
      <div>
        <label id="email" class="text-sm font-medium leading-none text-gray-800">
          Email
        </label>
        <input :disabled="loginStatus?'':disabled"  v-model="form.email" aria-labelledby="email" type="email" class="bg-gray-200 border rounded  text-xs font-medium leading-none text-gray-800 py-3 w-full pl-3 mt-2"/>
      </div>
      <div class="mt-6  w-full">
        <label for="pass" class="text-sm font-medium leading-none text-gray-800">
          Password
        </label>
        <div class="relative flex items-center justify-center">
          <input :disabled="loginStatus?'':disabled" v-model="form.password" id="pass" type="password" class="bg-gray-200 border rounded  text-xs font-medium leading-none text-gray-800 py-3 w-full pl-3 mt-2"/>
          <div class="absolute right-0 mt-2 mr-3 cursor-pointer">
            <img src="https://tuk-cdn.s3.amazonaws.com/can-uploader/sign_in-svg5.svg" alt="viewport">
          </div>
        </div>
      </div>
      <div class="mt-8">
        <button  :disabled="loginStatus?'':disabled"  @click="tryLogin()" role="button" class="focus:ring-2 focus:ring-offset-2 focus:ring-indigo-700 text-sm font-semibold leading-none text-white focus:outline-none bg-indigo-700 border rounded hover:bg-indigo-600 py-4 w-full">Try logIn</button>
      </div>
    </div>
  </div>
  </div>

</template>

<script>
import axios from "axios";
import {server} from '@/api/server';
import MyLoader from "@/components/MyLoader";
import {mapActions} from "vuex";
export default {
  name: "LoginPage",
  components: {MyLoader},
  data() {
    return {
      form: {
        email: '',
        password: ''
      },
      loginStatus: false
    }
  },
  methods: {
    ...mapActions({
      fetchAccountData: 'fetchAccountData'
    }),

    tryLogin() {
      var details = {
        'email': this.form.email,
        'password': this.form.password
      };

      var formBody = [];
      for (var property in details) {
        var encodedKey = encodeURIComponent(property);
        var encodedValue = encodeURIComponent(details[property]);
        formBody.push(encodedKey + "=" + encodedValue);
      }
      formBody = formBody.join("&");

      this.loginStatus = true;

      axios(server + "/api/login", {
        mode: 'no-cors',
        method: "post",
        headers: {
          'Content-Type': 'application/x-www-form-urlencoded',
          'Access-Control-Allow-Origin': '*'
        },
        data: formBody
      }).then(response => {
        console.log(response);
        console.log(response.data.access_token);
        localStorage.setItem("access_token", response.data.access_token);
        localStorage.setItem("refresh_token", response.data.refresh_token);
        console.log("success");
        this.fetchAccountData();
        this.loginStatus = false;
        this.$router.push({name: "inbox"});
      })
          .catch(() => {
            console.log('Bad');
            this.loginStatus = false;
            this.clearForm();
          })
    },
    gmailAuth() {
    },
    clearForm() {
      this.form.password = ''
      this.form.email = ''
    }
  }
}
</script>

<style scoped>

</style>