<template>
  <div class="flex flex-col">
    <main class="mt-16 w-full bg-gray-400 h-16 flex flex-col ">
        <button class="w-9 h-9 bg-yellow-400 mb-auto mt-auto"></button>
    </main>
    <div class="flex flex-row">
      <div class="h-[80vh]">
        <aside class="w-56 h-full bg-blue-600 text-center ">
            <h3>member</h3>
            <h3>member</h3>
            <h3>member</h3>
            <h3>member</h3>
            <h3>member</h3>
            <h3>member</h3>
            <h3>member</h3>
            <h3>member</h3>
            <h3>member</h3>
          </aside>
        </div>
      <div class="w-full h-full m-4">
        <ChatRoom ></ChatRoom>
      </div>
      <!--    <slot :name="content"></slot>-->
    </div>


  </div>
</template>

<script>
import ChatRoom from '@/components/chat/ChatRoom'
export default {
  name: "MailChatPage",
  components:{
    ChatRoom
  },
}
</script>

<style scoped>

</style>