<template>

  <MainLayout>
    <template
        v-slot:msg>
          <NoExistingFiles
              v-if="this.status === 'EMPTY' "
              class="mt-64">
          </NoExistingFiles>
      <div
          v-else-if="this.status === 'LOADING'"
          class="mt-72">
        <MyLoader/>
      </div>
      <MessageComponent
          v-else
          :messages = "this.messages">
      </MessageComponent>
    </template>
    <template
        v-if="this.status === 'READY'"
        v-slot:pagination>
      <MyPagination :messages = "this.messages"/>
    </template>
    <template
        v-if="this.status === 'READY'"
        v-slot:filter>
      <FilterComponent ></FilterComponent>
    </template>

  </MainLayout>
</template>

<script>
import MainLayout from '@/layouts/MainLayout'
import MessageComponent from "@/components/infobar/MessageComponent";
import FilterComponent from "@/components/infobar/FilterComponent";
import NoExistingFiles from "@/components/infobar/NoExistingFiles";
import {DataGetType} from "@/types/DataGetType";
import MyLoader from "@/components/MyLoader";
import {server} from "@/api/server";
import {data} from '@/api/interceptor'
import axios from "axios";
import MyPagination from "@/components/auxcomponents/MyPagination";
export default {
name: "MyMainPage",
  data(){
   return {
     messages: [],
     status:DataGetType.LOADING,
     cancelSource: null,
     videos:[],
     interval:'',
     pagination:{
       maxItemsPerPage:5,
       currentPage:1,
       maxMessageCount:12
     }
   }
  },
  components:{
    MyPagination,
    MyLoader,
    NoExistingFiles,
    MessageComponent,
    MainLayout,
    FilterComponent
  },
  beforeRouteLeave(to,from,next) {
    this.status = DataGetType.LOADING;
    this.messages = [];
    clearInterval(this.interval);
    next();
  },
  methods:{
    cancelSearch () {
      if (this.cancelSource) {
        this.cancelSource.cancel('Start new search, stop active search');
        console.log('cancel request done');
      }
    },
    getImg(){
      return "data:image/png;base64,"+this.messages[1].byteList[0];
    },
     detectMimeType(b64) {
       var signatures = {
         JVBERi0: "application/pdf",
         R0lGODdh: "image/gif",
         R0lGODlh: "image/gif",
         iVBORw0KGgo: "image/png",
         "/9j/": "image/jpg"
       };

       for (var s in signatures) {
         if (b64.indexOf(s) === 0) {
           return signatures[s];
         }
       }
     },
    fetchSortedData(sortType){
      data.get(server+'/mail/messages'+this.$route.path+'?sort='+sortType)
      .then(response=>{
        console.log(response);
      })
    }
  },
  beforeRouteEnter(to,from,next) {
    next(vm => {
      vm.$watch('$route.query.sort',(sortQ)=>{
      //  this.fetchSortedData(sortQ);
        console.log('query changed'+sortQ);
      });

      vm.cancelSearch();
      vm.interval = setInterval(()=>{
        data.get(server + "/mail/messages" + to.path,{})
          .then(response => {
            if (response) {
              console.log(response);
              if(!vm.messages.length === response.data.length) {
                vm.messages = response.data;
                console.log("messages refreshed");
              }
            }
          })
        console.log("requestPerSecond to yandex");
    },30000)

      vm.cancelSource = axios.CancelToken.source();
      data.get(server + "/mail/messages" + to.path + '?page='+vm.pagination.currentPage+'&size='+vm.pagination.maxItemsPerPage, {
        cancelToken: vm.cancelSource.token
      })
          .then(response => {
            if (response) {
              console.log(response);
              if (response.data.length === 0) {
                console.log(response.data);
                vm.status = DataGetType.EMPTY;
              } else {
                vm.messages = response.data;
                vm.status = DataGetType.READY;
              }
              vm.cancelSource = null;
            }
          })
    })
  }
}
</script>

<style scoped>

</style>