<template>
  <MainLayout>
    <template v-slot:msg>
      <div
          v-if="this.status === 'LOADING'"
          class="mt-72">
        <MyLoader/>
      </div>
      <PersonalMessageComponent
          v-else
          :message="this.message">
      </PersonalMessageComponent>
    </template>
  </MainLayout>
</template>

<script>
import MyLoader from '@/components/MyLoader';
import MainLayout from "@/layouts/MainLayout";
import PersonalMessageComponent from "@/components/infobar/PersonalMessageComponent";
import {DataGetType} from "@/types/DataGetType";
import {server} from "@/api/server";
import {data} from '@/api/interceptor'
export default {
  name: "PostPage",
  components: {PersonalMessageComponent, MainLayout,MyLoader},
  data(){
    return{
      message:{},
      status:DataGetType.LOADING
    }
  },
  beforeRouteEnter(to,from,next){
    next(vm=> {
      data.get(server + '/mail/messages' + to.path, {})
          .then(resp => {
            console.log(resp);
              vm.status = DataGetType.READY;
              vm.message = resp.data;
          })
    } )
  }
}
</script>

<style scoped>

</style>