<template>
  <div class="antialiased bg-gradient-to-r from-cyan-500 to-blue-500 h-screen">

  <div class=" bg-gray-100 mb-12 sm:w-full md:max-w-md lg:max-w-lg mx-auto p-8 md:p-12 my-5 rounded-lg shadow-2xl">


    <section class="xs:max-w-xs sm:max-w-sm md:max-w-md lg:max-w-lg m-5">
      <h3 class="font-bold text-2xl">Registration From</h3>
      <p class="text-gray-600 pt-2">Please write only existing email info</p>
    </section>


    <section class="relative bg-gray-800 rounded-lg py-5 mx-auto">
         <MyLoader class="absolute right-0 left-0 top-0 bottom-0 m-auto text-white" v-if="loginStatus === true"/>
      <div id="register" class="text-sm m-8 xs:p-4 sm:p-4 md:p-8 lg:p-8" >
             <div class="flex flex-col">
                 <span
                       v-for="error in v$.name.$silentErrors"
                       :key="error.$uid"
                       class="text-red-400 ml-auto mr-auto">
                      {{error.$message}}
                </span>
             </div>
        <div class="relative mb-4">
          <input  :disabled="loginStatus?'':disabled" v-model="state.name" type="text"  class="block px-2.5 pb-2.5 pt-4 w-full text-sm text-white bg-transparent rounded-lg border-1 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " />
          <label  class="absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0]   dark:bg-gray-900 px-2 peer-focus:px-2 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 left-1">Name</label>

        </div>

        <div class="relative mb-4">
          <input :disabled="loginStatus?'':disabled" v-model="state.female" type="text"  class="block px-2.5 pb-2.5 pt-4 w-full text-sm text-white bg-transparent rounded-lg border-1 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " />
          <label  class="absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0]   dark:bg-gray-900 px-2 peer-focus:px-2 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 left-1">Female</label>
        </div>
        <div class="flex flex-col">
            <span
              v-for="error in v$.email.$silentErrors"
              :key="error.$uid"
              class="text-red-400  ml-auto mr-auto">{{error.$message}}
           </span>
        </div>
        <div  class="relative mb-4">
          <input :disabled="loginStatus?'':disabled" v-model="state.email" type="text"  class="block px-2.5 pb-2.5 pt-4 w-full text-sm text-white bg-transparent rounded-lg border-1 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " />
          <label  class="absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0]   dark:bg-gray-900 px-2 peer-focus:px-2 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 left-1">Email</label>
        </div>

        <div class="relative mb-4">
          <input :disabled="loginStatus?'':disabled" v-model="state.appPassword" type="text"  class="block px-2.5 pb-2.5 pt-4 w-full text-sm text-white bg-transparent rounded-lg border-1 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " />
          <label  class="absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] dark:bg-gray-900 px-2 peer-focus:px-2 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 left-1">AppPassword</label>
        </div>
        <div class="relative mb-4">
          <input :disabled="loginStatus?'':disabled" v-model="state.password" type="text"  class="block px-2.5 pb-2.5 pt-4 w-full text-sm text-white bg-transparent rounded-lg border-1 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " />
          <label  class="absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] dark:bg-gray-900 px-2 peer-focus:px-2 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 left-1">Password</label>
        </div>
        <div class="flex flex-wrap py-2 items-center justify-evenly">
          <div class="sm:w-full md:w-1/2 lg:w-1/2 xl:w-1/2 h-12 text-center align-baseline">
            <button :disabled="loginStatus?'':disabled" @click="tryRegister()" class="bg-black hover:bg-white hover:text-black text-white w-full py-2 px-4 rounded"  >Register</button>
          </div>
          <div class="sm:w-full md:w-1/2 lg:w-1/2 xl:w-1/2 h-12 text-center align-baseline">
            <button  :disabled="loginStatus?'':disabled" class="inline-block align-baseline text-gray-400 hover:text-white" @click="clearForm()">
              Clear Form
            </button>
          </div>
        </div>
      </div>
    </section>

    <div class="xs:max-w-xs sm:max-w-sm md:max-w-md lg:max-w-lg mx-5 my-5">
      <p class="text-black">
        Already have an account? <a href="/login" class="font-bold hover:underline">Login here</a>.
      </p>
    </div>
  </div>

  </div>
</template>

<script>
import {server} from '@/api/server';

import axios from "axios";
import MyLoader from "@/components/MyLoader";
import useVuelidate from "@vuelidate/core";
import {required,email} from "@vuelidate/validators";
import {reactive,computed } from "vue";


export default {
  name: "RegistrationPage",
  components: {MyLoader},
  setup(){
    const state = reactive({
      name:'',
      female:'',
      email:'',
      appPassword:'',
      password:''
    });

    const rules = computed(()=> {
      return {
        name: {required},
        female: {required},
        email: {required, email},
        appPassword: {required},
        password: {required}
      }
    });

    const v$ = useVuelidate(rules,state);
    return {state,v$};
  },
  data(){
    return{

      loginStatus:false
    }
  },
  methods:{
    tryRegister(){
      if(!this.v$.$silentErrors) {
        var details = {
          'email': this.form.email,
          'password': this.form.password,
          'name': this.form.name,
          'female': this.female
        };

        var formBody = [];
        for (var property in details) {
          var encodedKey = encodeURIComponent(property);
          var encodedValue = encodeURIComponent(details[property]);
          formBody.push(encodedKey + "=" + encodedValue);
        }
        formBody = formBody.join("&");

        this.loginStatus = true;
        axios(server + "/registration", {
          mode: 'no-cors',
          method: "post",
          headers: {
            'Content-Type': 'application/x-www-form-urlencoded',
            'Access-Control-Allow-Origin': '*'
          },
          data: formBody
        }).then(response => {
          if (response.status === 200) {
            localStorage.setItem("access_token", response.data.access_token);
            localStorage.setItem("refresh_token", response.data.refresh_token);
            this.$router.push({name: "inbox"});
            console.log(response.status);
          } else {
            console.log("Bad credentials");
          }
          this.loginStatus = false;
        })
            .catch(() => {
              console.log('Bad')
              this.loginStatus = false;
              this.clearForm();
            })
      }
    },
    clearForm(){
      this.form.name = ''
      this.form.female = ''
      this.form.password = ''
      this.form.email = ''
    }
  }
}
</script>

<style scoped>

</style>