<template>
  <ErrorsLayout v-bind="errInfo"></ErrorsLayout>
</template>

<script>
import ErrorsLayout from '@/layouts/ErrorsLayout'

export default {
  name: "ServerErrorPage",
  components:{
    ErrorsLayout
  },
  data(){
    return{
      errInfo:{
        errStatus:500,
        errText:'oops! Server connection errors occurred!',
        errTextWider: 'Oops! Our servers gotten stuck somewhere, but we are working on it!'
      }
    }
  }
}
</script>

<style scoped>

</style>