<template>
  <MainLayout>
    <template v-slot:msg>
      <SettingsComponent class="mt-8"></SettingsComponent>
    </template>
  </MainLayout>
</template>

<script>
import MainLayout from "@/layouts/MainLayout";
import SettingsComponent from '@/components/infobar/SettingsComponent'
export default {
  name: "SettingsPage",
  components: {MainLayout,SettingsComponent}
}
</script>

<style scoped>

</style>