<template>

 <router-view></router-view>

</template>

<script>

/*import {server} from "@/api/server";
import {data} from '@/api/interceptor'*/
export default {
  name: "App"
}
</script>

<style scoped>

</style>